.loginInput {
  padding: 12px;
  border-radius: 6px;
}

.loginInput:focus-visible {
  padding: 12px;
  border-radius: 6px;
  outline: none;
}

.errorStyle {
  color: red;
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
}
