.infoContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.playPal {
  font-family: "Arial", sans-serif;
  font-size: 1.5rem;
  color: #023047; /* LinkedIn blue color */
  text-decoration: none; /* Remove underline */
  display: flex;
  align-items: center;
  font-weight: 800;
  letter-spacing: 2px;
  font-size: 45px;
}

.badgeStyle {
  position: relative;
  top: -13px;
}

.descriptionTitle {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

/* If you want a hover effect */
.playPal:hover {
  /* text-decoration: underline; */
  color: #004471; /* Darker blue on hover */
}

.tdAlignment {
  /* display: flex; */
  /* max-width: 138px !important; */
  /* overflow-x: scroll; */
}

.caretStyle {
  cursor: pointer;
}

.filtersub {
  display: flex;
  flex-direction: row;
}

.noProposalsFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 35px;
  padding: 35px;
  color: #023047;
  font-weight: 600;
}

.join-button {
  display: inline-flex;
  min-width: 72px;
  padding: 7px 9px 7px 11px;
  border-radius: 4px;
  background: var(--Red-Tints-600, #eb5757);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);

  /* Hover state */
}
.join-button:hover {
  background-color: #fedc97; /* Hover:bg-blue-600 */
  color: #fff;
}

.eventsIntro {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 574px) {
  .filtersub {
    padding: 1rem;
  }
  .eventsIntro {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .playPal {
    font-size: 27px !important;
  }
  .min-w-full {
    min-width: 1200px;
    overflow-x: scroll;
  }
}
