.selectable {
  font-size: 18px;
}

.selectable:hover {
  background: lightgrey;
}

.subInput {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.componentStyle {
  font-family: Inter;
  /* font-size: 14px; */
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  color: rgb(2, 48, 71);
}

.binocular:hover {
  background: #f5f5f5;
}

.popoverDiv {
  padding: 12px;
  position: absolute;
  top: -43px;
  left: 171px;
  width: 300px;
  background: #ffff;
  height: 450px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.chevy:hover {
  stroke: #013f62;
  fill: #013f62;
}

.selectOne {
  text-align: left;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.hrHeaderTitle {
  margin: 12px 0px;
  font-weight: 600;
}
