.eventDate {
  color: var(--slate-2, #4b4e5e);

  /* In-App/text-sm/Regular */
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  display: flex;
  align-items: center;
}

.cancelBtn {
  display: flex;
  padding: 9px 17px;
  justify-content: center;
  align-items: center;

  color: var(--Slate-Tints-400, #bac1d8);

  /* In-App/text-sm/Medium */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}
.submitBtnInvalid {
  border-radius: 6px;
  background: #dde0eb;

  /* shadow/sm */
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);

  color: var(--Primary-Colors-White, #fff);
  display: flex;
  padding: 9px 17px;
  justify-content: center;
  align-items: center;

  /* In-App/text-sm/Medium */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.submitBtnValid {
  border-radius: 6px;
  background: #b5b782;

  /* shadow/sm */
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);

  color: var(--Primary-Colors-White, #fff);
  display: flex;
  padding: 9px 17px;
  justify-content: center;
  align-items: center;

  /* In-App/text-sm/Medium */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.submitBtnValid:hover {
  border-radius: 6px;
  background: #b5b782;

  /* shadow/sm */
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.proposalIntro {
  color: var(--slate-2, #4b4e5e);

  /* In-App/text-sm/Regular */
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  display: flex;
  align-items: center;
}

.proposalDateInput {
  position: relative;
  width: 100%;
  min-height: 45px;
  cursor: default;
  border-radius: 0.375rem; /* Corresponds to rounded-md */
  background-color: #ffffff; /* Corresponds to bg-white */
  padding-top: 0.375rem; /* Corresponds to py-1.5 */
  padding-left: 0.75rem; /* Corresponds to pl-3 */
  padding-right: 2.5rem; /* Corresponds to pr-10 */
  text-align: left;
  color: #000000; /* Corresponds to text-gray-900 */
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 1px rgba(0, 0, 0, 0.1); /* Corresponds to shadow-sm */
  border: 1px solid #d1d5db; /* Corresponds to ring-1 */
  outline: none; /* Corresponds to focus:outline-none */
}

.proposalDateInput:focus {
  border-color: #4f46e5; /* Corresponds to focus:ring-indigo-600 */
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5); /* Corresponds to focus:ring-2 */
}

@media (min-width: 640px) {
  .proposalDateInput {
    font-size: 0.875rem; /* Corresponds to sm:text-sm */
    line-height: 1.5; /* Corresponds to sm:leading-6 */
  }
}

.errorMessge {
  color: red;
  font-size: 13px;
  font-family: "Inter";
  font-style: normal;
  line-height: 24px;
}
