.profilePageContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.subprofilePageContainer {
  display: flex;
  flex-direction: row;
  gap: 12px;
  /* justify-content: space-around; */
  margin: 12px auto;
}

.profileContainer {
  padding: 12px;
  width: 650px;
  margin: 42px 34px;
  height: 800px;
  background: #e8f1ed;
}
.extraInfo {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.editBtn {
  border-radius: 12px;
  /* background-color: #145c80; bg-indigo-600 */
  padding: 3px;
  justify-content: center;
  font-weight: 600;
  color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  font-size: 12px;
  min-width: 87px;
  cursor: pointer;
  /* background: none; */
  color: #797981;
}

.editBtn:hover {
  border-color: #78565612;
  box-shadow: 0 0 0 1px #c7c8d5;
  background: none;
  color: #797981;
  font-weight: 600;
}

.editBtn:focus-visible {
  outline: 2px solid transparent; /* focus-visible:outline */
  outline-offset: 2px; /* focus-visible:outline-offset */
  outline-color: #013047;
}

.editBtn:focus-visible:focus-visible {
  outline-color: #013047; /* focus-visible:outline-indigo-600 */
}
.saveBtn {
  border-radius: 12px;
  background-color: #8b9a54; /* bg-indigo-600 */
  padding: 3px;
  justify-content: center;
  font-weight: 600;
  color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  font-size: 12px;
  min-width: 87px;
  cursor: pointer;
}

.saveBtn:hover {
  background-color: #5e6e14; /* hover:bg-indigo-500 */
}

.saveBtn:focus-visible {
  outline: 2px solid transparent; /* focus-visible:outline */
  outline-offset: 2px; /* focus-visible:outline-offset */
  outline-color: #013047;
}

.saveBtn:focus-visible:focus-visible {
  outline-color: #013047; /* focus-visible:outline-indigo-600 */
}

.inputFieldsStyle {
  padding: 6px;
  border: 1px solid #d4d0d0;
  border-radius: 6px;
}

.inputFieldsStyle:focus {
  outline: none;
}

.btnDisabled {
  background: lightgrey;
}
