.profilePageContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.subprofilePageContainer {
  display: flex;
  flex-direction: row;
  gap: 12px;
  /* justify-content: space-around; */
  margin: 12px auto;
}

.profileContainer {
  padding: 12px;
  width: 650px;
  margin: 42px 34px;
  height: 800px;
  background: #e8f1ed;
}
.extraInfo {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.editBtn {
  border-radius: 12px;
  background-color: #145c80; /* bg-indigo-600 */
  padding: 3px;
  justify-content: center;
  font-weight: 600;
  color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  font-size: 12px;
  min-width: 87px;
  cursor: pointer;
}

.editBtn:hover {
  background-color: #023047; /* hover:bg-indigo-500 */
}

.editBtn:focus-visible {
  outline: 2px solid transparent; /* focus-visible:outline */
  outline-offset: 2px; /* focus-visible:outline-offset */
  outline-color: red;
}

.editBtn:focus-visible:focus-visible {
  outline-color: red; /* focus-visible:outline-indigo-600 */
}
.saveBtn {
  border-radius: 12px;
  background-color: #7d8b3c; /* bg-indigo-600 */
  padding: 3px;
  justify-content: center;
  font-weight: 600;
  color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  font-size: 12px;
  min-width: 87px;
  cursor: pointer;
}

.saveBtn:hover {
  background-color: #5e6e14; /* hover:bg-indigo-500 */
}

.saveBtn:focus-visible {
  outline: 2px solid transparent; /* focus-visible:outline */
  outline-offset: 2px; /* focus-visible:outline-offset */
  outline-color: red;
}

.saveBtn:focus-visible:focus-visible {
  outline-color: red; /* focus-visible:outline-indigo-600 */
}

.inputFieldsStyle {
  padding: 6px;
  border: 1px solid #d4d0d0;
  border-radius: 6px;
}

.inputFieldsStyle:focus {
  outline: none;
}

.btnDisabled {
  background: lightgrey;
}
